{% extends 'base.html' %}
{% block content %}
<title>Student Life - Add Recipe</title>

<h2>{{ page_title }}</h2>

    <section class="add_recipe">
        <div class="container">
        <div class="addrecipe">
            <form action="{{ url_for('insert_recipe') }}" method="POST">
            <div class="row">
                <form class="col s12">
                    <!--RECIPE NAME-->
                    <div class="row">
                        <div class="input-field col s12">
                        <textarea id="recipe_name" class="materialize-textarea" placeholder="Recipe Name" required></textarea>
                        <label for="recipe_name">Recipe Name</label>
                        </div>
                    </div>
                    <!--RECIPE SERVES -->
                    <div class="row">
                        <div class="input-field col s12">
                        <textarea id="recipe_serves" class="materialize-textarea" value="{{recipe.serves}}"
                        type="number" min="1" max="20" placeholder="How many people does it feed?" required></textarea>
                        <label for="recipe_serves">Recipe Serves</label>
                        </div>
                    </div>
                    <!--RECIPE PRICE -->
                    <div class="row">
                        <div class="input-field col s12">
                        <textarea id="recipe_price" class="materialize-textarea" value="{{recipe.price}}"
                        min="0.00" max="50.00" placeholder="£..." type="number"></textarea>
                        <label for="recipe_price">Price</label>
                        </div>
                    </div>
                    <!--RECIPE PROTEIN -->
                    <div class="row">
                        <div class="input-field col s12">
                        <textarea id="recipe_protein" class="materialize-textarea" value="{{recipe.protein}}"
                        min="1" max="100" type="number" placeholder="Protein" required></textarea>
                        <label for="recipe_protein">Protein</label>
                        </div>
                    </div>
                    <!--RECIPE INGREDIENTS -->
                    <div class="row">
                        <div class="input-field col s12">
                        <textarea id="recipe_ingredients" class="materialize-textarea" placeholder="Ingrdiente"></textarea> ------------------------------------------------------
                        <label for="recipe_ingredients">Recipe Ingredients</label>
                        </div>
                    </div>
                    <!--RECIPE INSTRUCTIONS -->
                    <div class="row">
                        <div class="input-field col s12">
                        <textarea id="recipe_instructions" class="materialize-textarea" placeholder="Instructions"></textarea> ----------------------------------------------
                        <label for="recipe_instructions">Recipe Instructions</label>
                        </div>
                    </div>
                    <!--RECIPE DESCRIPTION -->
                    <div class="row">
                        <div class="input-field col s12">
                        <textarea id="recipe_description" class="materialize-textarea" placeholder="Description"></textarea>
                        <label for="recipe_description">Recipe Description</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Choose a Category</option>
                        {% for category in categories %}
                        {% if category == recipes.category_name %}
                            <option selected value="{{categories.category_name}}">{{categories.category_name}}</option>
                        {% else %}
                            <option value="{{categories.category_name}}">{{categories.category_name}}</option>
                        {% endif %}
                        {% endfor %}
                </select>
                <label>Category</label>
            </div>
    
                
 <!--SUBMIT BUTTON--> 
  <button type="submit" class="btn btn-primary" name="action">Submit</button>
            </form>
        </div>
    </div>
    </section>





{% endblock %}