{% extends 'base.html' %}
{% block content %}

<h2>{{ page_title }}</h2>

    <section class="add_recipe">
    <div class="container">
        <div class="addrecipe">
            <form action="" method="POST">
                <div class="form-row">
    <div class="form-group col-md-6"  >

      <input type="text" class="form-control" id="recipe_name" input name="recipe_name" placeholder="Recipe Name" required>
    </div>
    <div class="form-group col-md-6">
  
      <input type="number" class="form-control" id="recipe_price" input name="recipe_price" min="0.00" max="50.00" placeholder="Price" required>
    </div>
        <div class="serves col-md-6">

      <input type="number" class="form-control" id="recipe_serves" input name="recipe_serves" min="1" max="20" placeholder="Serves" required>
    </div>
        <div class="form-group col-md-6">

      <input type="text" class="form-control" id="recipe_protein" input name="recipe_protein" min="1" max="100" placeholder="Protein" required>
    </div>
  </div>
  <div class="form-group">

    <input type="text" class="form-control" id="recipe_ingredience" placeholder="Ingredience" input name="recipe_ingredience" required>
  </div>
  <div class="form-group">

    <input type="text" class="form-control" id="recipe_instructions" placeholder="Instructions" input name="recipe_instructions" required>
  </div>
  <div class="form-group">

    <input type="text" class="form-control" id="description" placeholder="Describe Your Meal" input name="description" required>
  </div>
  <div class="form-group">

    <input type="text" class="form-control" id="description" placeholder="Add the web address here... eg. https://example.com" input name="description" pattern="https://.*" size="30" required>
  </div>
  <div class="form-row" required>
    <div class="form-group col-md-4">
      <label for="inputState"></label>
      <select id="inputState" class="form-control" name="category">
        <option selected>Meal Category...</option>
        <option>Breakfast</option>
        <option>Lunch/Dinner</option>
        <option>Protein Meal</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    </section>



{% endblock %}