{% extends 'base.html' %}
{% block content %}
<title>Student Life - Edit Recipe</title>

<h2>Edit A Recipe</h2>

<section class="edit_recipe">
	<div class="container">
		<div class="row">
			<form action="{{ url_for('update_recipe', recipes_id=recipe._id) }}" method="POST" class="col s12">
				<!--RECIPE NAME-->
				<div class="row">
					<div class="input-field col s12">
						<textarea id="name" class="materialize-textarea" name="name">{{recipe.name}}</textarea>
						<label for="name">Recipe Name</label>
					</div>
				</div>
				<!--RECIPE SERVES -->
				<div class="row">
					<div class="input-field col s12">
						<textarea id="serves" class="materialize-textarea"
                        type="number" min="1" max="20" name="serves">{{recipe.serves}}</textarea>
						<label for="serves">Recipe Serves</label>
					</div>
				</div>
				<!--RECIPE PRICE -->
				<div class="row">
					<div class="input-field col s12">
						<textarea id="price" class="materialize-textarea"
                        min="0.00" max="50.00" placeholder="£..." type="number" name="price">{{recipe.price}}</textarea>
						<label for="price">Price</label>
					</div>
				</div>
				<!--RECIPE PROTEIN -->
				<div class="row">
					<div class="input-field col s12">
						<textarea id="protein" class="materialize-textarea"
                        min="1" max="100" type="number" name="protein">{{recipe.protein}}</textarea>
						<label for="protein">Protein</label>
					</div>
				</div>
				<!--RECIPE INGREDIENTS -->
				<div class="row">
					<div class="input-field col s12">
						<textarea id="ingredients" class="materialize-textarea" placeholder="Ingredients. Please press enter for a new line of ingredients." name="ingredients">
                            {% for ingredient in recipe.ingredients %}
                            {{ ingredient }}
                            {% endfor %}
                        </textarea>
						<label for="ingredients">Recipe Ingredients</label>
					</div>
				</div>
				<!--RECIPE INSTRUCTIONS -->
				<div class="row">
					<div class="input-field col s12">
						<textarea id="instructions" class="materialize-textarea" name="instructions">
                            {% for instruction in recipe.instructions %}
                            {{ instruction }}
                            {% endfor %}
                        </textarea>
						<label for="instructions">Recipe Instructions</label>
					</div>
				</div>
				<!--RECIPE DESCRIPTION -->
				<div class="row">
					<div class="input-field col s12">
						<textarea id="description" class="materialize-textarea" name="description">{{recipe.description}}</textarea>
						<label for="description">Recipe Description</label>
					</div>
				</div>
				<!--DELETE BUTTON AND SUBMIT BUTTON-->
				<button type="submit" class="btn btn-primary" onclick="editFunction()">Submit</button>
			</form>
		</div>
	</div>
</section>

<script>
	function editFunction() {
  confirm("Are you sure you'd like to Edit this recipe?\nClick Ok to Edit\nClick Cancel to go back");
}
</script>


{% endblock %}