{% extends 'base.html' %}
{% block content %}

<title>Student Life - Index</title>

<h2>All Recipes</h2>

<!--view all recipes within mongodb-->

<div class="row">
	{% for recipe in recipes %}
	<div class="col s12 m6">
		<div class="card horizontal">
			<div class="card-image">
				<img src="../static/images/chef.jpg" alt="Chef Cooking" height="280" width="80">
            </div>
				<div class="card-stacked">
					<div class="card-content">
						<!--recipe name-->
						<span class="card-title"><strong>{{recipe.name}}</strong></span>
						<p class="card-text-01">
							<!--added icons for recipe small detail-->
							<p class="card-text"><i class="material-icons">people</i> {{recipe.serves}}</p>
							<p class="card-text"><i class="material-icons">attach_money</i> {{recipe.price}}</p>
							<p class="card-text"><i class="material-icons">fitness_center</i> {{recipe.protein}} g</p>
					</div>
					<div class="card-content">
						<!--added recipe description-->
						<p>{{recipe.description}}</p>
					</div>
					<div class="card-action">
						<!--direct when clicked to individual recipe card-->
						<a href="{{ url_for('view_recipe', recipes_id=recipe._id)}}"
							class="waves-effect waves-light btn">
							View Recipe</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>



	{% endblock %}