{% extends 'base.html' %}
{% block content %}


 <div class="row">
                <div class="input-field col s12">
                    <select id="category" name="category_name">
                        <option value="" disabled selected>Choose Category</option>
                            {% for category in categories %}
                        <option value="{{category.category_name}}">{{category.category_name}}</option>
                            {% endfor %}
                    </select>
                        <label>Recipe Category</label>
                </div>
</div>


{% for recipe in recipes %}

{{ recipe }}

  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="{{recipe.image}}">
          
        </div>
        <div class="card-content">
            <span class="card-title">{{recipe.title}}</span>
            <p class="card-text"><i class="material-icons">people</i>        {{recipe.serves}}</p>    	
            <p class="card-text"><i class="material-icons">attach_money</i>        {{recipe.price}}</p>
		    <p class="card-text"><i class="material-icons">fitness_center</i>         {{recipe.protein}} g</p>
        </div>
        <div class="card-content">
          <p>{{recipe.description}}</p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('view_recipe', recipes_id=recipe._id)}}" class="waves-effect waves-light btn"> View Recipe</a>
        </div>
      </div>
    </div>
  </div>
            

{% endfor %}

{% endblock %}
