{% extends 'base.html' %}
{% block content %}


<div class="dropdown" style="float:right;">
  <button class="drop-button">Select A Category<i class="fas fa-angle-down"></i></button>
  <div class="dropdown-content">
  <a href="#">Breakfast</a>
  <a href="#">Lunch/Dinner</a>
  <a href="#">Protein Meal</a>
  </div>
</div>

{% for recipe in recipes %}

{{ recipe }}

<div class="row">
<div class="col-sm-6">
<div class="card text-center" style="width: 18rem;">
{{recipe.image}}
        <img src="{{recipe.image}}" class="img-fluid img-thumbnail recipe-img" alt= "recipe.image"/>

    <div class="card-body">
        <h5 class="card-title">{{recipe.title}}</h5>
            <div class="row">
                <div class="detailed-thumbnail">
		            <p class="card-text"><i class="fas fa-users"></i> {{recipe.serves}}</p>    	
                    <p class="card-text"><i class="fab fa-pound-sign"></i> {{recipe.price}}</p>
		            <p class="card-text"><i class="fas fa-drumstick-bite"></i> {{recipe.protein}} g</p>
                </div>
            </div>
        <p class="card-text">{{recipe.description}}</p>
    </div>
        <div class="card-body">
            <div class="card-info">
                <p class="recipe-description">
                    {{recipe.description}}
                </p>
            </div>
        <div class="card-footer">
             <a href="{{ url_for('view_recipe', recipes_id=recipes._id)}}" class="btn btn-primary">View Recipe</a>
        </div>
        

        </div>    
</div>
</div>
</div>

{% endfor %}

{% endblock %}
