{% extends 'base.html' %}
{% block content %}

<div class="container">
	<div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="{{recipes.image}}" alt="food">
        </div>
        <div class="card-content">
            <span class="card-title">{{recipes.name}}</span>
            <p class="card-text">
                        <p class="card-text"><b>Category:</b> {{recipes.category}}</p>
						<p class="card-text"><b>Price</b> £ {{recipes.price}} </p>  
						<p class="card-text"><b>Serves</b> {{recipes.serves}}</p>
                        <p class="card-text"><b>Protein</b> {{recipes.protein}} g</p>   
            </p>
        </div>
        <div class="card-action">
        <p class="card-text"><b>Ingredients: </b>
                    <ul>
                    {% for ingredients in recipes.ingredients %}
                        <li>
                        {{ingredients}} 
                        </li>
                        {%endfor%}
                    </ul>
                    </p>
					<p class="card-text"><b>Instructions:</b> 
                    <ul>
                    {% for instructions in recipes.instructions %}
                    <li>
                    {{loop.index}}.{{instructions}} 
                    </li>
                    {%endfor%}
                    </ul>
                    </p>  

        <div class="card-action">
            <div class="buttons">

                <a class="btn btn-primary" href="#" role="button">Delete</a>
                <a class="btn btn-primary" href="#" role="button">Edit</a>

            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>



  
           
{% endblock %}