{% extends 'base.html' %}
{% block content %}

<div id="detail-container" class="container">
	<div class="row col-sm">
		<div class="recipe-card">
			<div class="row">
				<div class="col-md-6 bg-img">
					{{recipes.image}}
                        <img src="{{recipes.image}}" class="img-fluid  image-detail"/>
                </div>
					<div class="col-md-6 text-center recipe-info">
						<p class="card-text"><b>Category:</b> {{recipes.category}}</p>
						<p class="card-text"><b>Price</b>£{{recipes.price}} </p>  
						<p class="card-text"><b>Serves</b> {{recipes.serves}}</p>
                        <p class="card-text"><b>Protein</b> {{recipes.protien}}g</p>   
					</div>
            </div>
		     
                <div class="card-body">
					<h2 class="card-title text-center" style="text-align: center">{{recipes.name}}</h2>
					<p class="card-text"><b>Ingredients: </b>
                    <ul>
                    {% for ingredient in recipes.ingredients %}
                        <li>
                        {{ingredient}} 
                        </li>
                        {%endfor%}
                    </ul>
                    </p>
					<p class="card-text"><b>Instructions:</b> 
                    <ul>
                    {% for instruction in recipes.instructions %}
                    <li>
                    {{loop.index}}.{{instruction}} 
                    </li>
                    {%endfor%}
                    </ul>
                    </p>
				</div>
                
                
            <div class="buttons">

                <a class="btn btn-primary" href="#" role="button">Delete</a>
                <a class="btn btn-primary" href="{{url_for('edit_recipe', recipes_id=recipe._id)}}" role="button">Edit</a>

            </div>
        </div> 
            

    

	</div>
</div>

{% endblock %}